# Copyright 2017 Kristoffer Bernhem.
# This file is part of SMLocalizer.
#
#  SMLocalizer is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  SMLocalizer is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with SMLocalizer.  If not, see <http://www.gnu.org/licenses/>.
#
#
#
# @author kristoffer.bernhem@gmail.com
#
Plugins>SMLocalizer,"SMLocalizer",SMLocalizer_
Plugins>SMLocalizer,"About",SML_About_
Plugins>SMLocalizer, "-"
Plugins>SMLocalizer>Utilities,"SML Process",SML_Process
Plugins>SMLocalizer>Utilities, "-"
Plugins>SMLocalizer>Utilities,"SML Background Correction",SML_Background_Correction
Plugins>SMLocalizer>Utilities,"SML Localize Particles",SML_Localize_Particles
Plugins>SMLocalizer>Utilities,"SML Drift Correction",SML_Drift_Correction
Plugins>SMLocalizer>Utilities,"SML Align Channels",SML_Align_Channels
Plugins>SMLocalizer>Utilities,"SML Render Image",SML_Render_Image
Plugins>SMLocalizer>Utilities, "-"
Plugins>SMLocalizer>Utilities,"SML Parameter Change",SML_Parameter_Change
Plugins>SMLocalizer>Utilities, "-"
Plugins>SMLocalizer>Utilities,"About Parameter Change",SML_ParameterList_